.profile {
  background-color: white;
  width: 300px;
  text-align: center;
  color: dimgrey;
  font-size: 14px;
  margin-bottom: 40px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px 0 40px 0;
  border: 1px solid #E1E0F0;
}

.name {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.stats {
  display: flex;
  justify-content: space-between;
  background-color: #F3F6F9;
  padding: 0;
}

.stats-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  gap: 5px;
  border: 1px solid #d5d5d5;
}

.quantity {
  font-size: 16px;
  font-weight: bold;
  color: #19191d;
}
