.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  width: 100%;
  gap: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #19191a;

  border-radius: 3px;
  box-shadow: 0 2px 4px #212020;

  background-color: white;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FF4F59;
}

.online {
  background-color: #47B148;
}
